@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

Body {  
  font-family: 'Inter';  
  background-color: #E5E5E5;  
  color: #C4C4C4;
}  

.sidenav {
  height: 100%; 
  width: 20%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #D0E8F2; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.Logo {
  position: absolute;
  width: 147px;
  height: 135px;
  left: 8px;
  top: 18px;
}

.Gambar {
  position: absolute;
  width: 140px;
  height: 14px;
  left: 8px;
  top: 18px;
}

.Judul {
  position: absolute;
  width: 195px;
  height: 103px;
  left: 165px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #352E5B;

}

.Topbar {
  overflow: hidden;
  background-color: #79A3B1;
  position: fixed;
  width: 100%;
  height: 200px;
  top: 0px;
}

.button1 {
  position: absolute;
  width: 311px;
  height: 56px;
  left: 33px;
  top: 224px;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button2 {
  position: absolute;
  width: 311px;
  height: 56px;
  left: 33px;
  top: 315px;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button3 {
  position: absolute;
  width: 311px;
  height: 56px;
  left: 33px;
  top: 406px;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button4 {
  position: absolute;
  width: 311px;
  height: 56px;
  left: 33px;
  top: 497px;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button5 {
  position: absolute;
  width: 311px;
  height: 56px;
  left: 33px;
  top: 588px;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button6 {
  position: absolute;
  width: 311px;
  height: 56px;
  left: 33px;
  top: 679px;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button1:hover {
  background-color: #C4C4C4;
  color: #352E5B;
}

.button2:hover {
  background-color: #C4C4C4;
  color: #352E5B;
}

.button3:hover {
  background-color: #C4C4C4;
  color: #352E5B;
}

.button4:hover {
  background-color: #C4C4C4;
  color: #352E5B; 
}

.button5:hover {
  background-color: #C4C4C4;
  color: #352E5B;
}
  
.button6:hover {
  background-color: #C4C4C4;
  color: #352E5B;
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

.fotouser {
  position: Fixed;
  width: 80px;
  height: 80px;
  Right: 20px;
  top: 21px;
  border: none;
  color: #FFFFFF;
  float: left;
  background: url(image.png);
  background-color: #352E5B;
  border-radius: 50px;
}

.datauser {
  position: absolute;
  width: 138px;
  height: 62px;
  right: 300px;
  top: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.Paudpemilik { 
  position: absolute;
  width: 250px;
  height: 250px;
  right: 63%;
  top: 41%;
  background: #C4C4C4;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
}

.Paudpemilik:hover {
background-color: #79A3B1;
color: #FFFFFF;
}

.SDpemilik {
position: absolute;
width: 250px;
height: 250px;
right: 47%;
top: 41%;
background: #C4C4C4;
border-radius: 30px;
font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
}

.SDpemilik:hover {
background-color: #79A3B1;
color: #FFFFFF;
}

.SMPpemilik{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 31%;
    top: 41%;
    background: #C4C4C4;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.SMPpemilik:hover {
    background-color: #79A3B1;
    color: #FFFFFF;
}

.Mahadpemilik{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 15%;
    top: 41%;

    background: #C4C4C4;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.Mahadpemilik:hover {
    background-color: #79A3B1;
    color: #FFFFFF;
}

.STDIISPemilik{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 63%;
    top: 70%;
    background: #C4C4C4;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.STDIISpemilik:hover {
    background-color: #79A3B1;
    color: #FFFFFF;
}

.AsetLainyapemilik{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 47%;
    top: 70%;
    background: #C4C4C4;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.AsetLainyapemilik:hover {
    background-color: #79A3B1;
    color: #FFFFFF;
}

.LaporanKeuanganpemilik{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 31%;
    top: 70%;
    background: #C4C4C4;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.LaporanKeuanganpemilik:hover {
    background-color: #79A3B1;
    color: #FFFFFF;
}

.Notifikasipemilik{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 15%;
    top: 70%;
    background: #C4C4C4;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.Notifikasipemilik:hover {
    background-color: #79A3B1;
    color: #FFFFFF;
}

.h1Nama {
    position: absolute;
    width: 732px;
    height: 70px;
    left: 25%;
    top: 270px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    text-transform: uppercase;

    color: #000000;
}

.Gambarorg{
    position: absolute;
    left: 25%;
    top: 40%;
}

.data{
    position: absolute;
    width:240px;
    height: 24px;
    left: 40%;
    top: 35%; 

    font-family: 'Inter';
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #0e0c0c;
}

.subjudul{
    position: absolute;
    width: 80.4%;
    height: 110px;
    left: 375px;
    top: 221px;
    overflow-x: hidden;
    background: #98DED9;
}

.button9{
    position: absolute;
    width: 350px;
    height: 80px;
    top: 10px;
    left: 20px;
    border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button10{
    position: absolute;
    width: 350px;
    height: 80px;
    top: 10px;
    left: 390px;
    border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button11{
    position: absolute;
    width: 350px;
    height: 80px;
    top: 10px;
    left: 760px;
    border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button12{
    position: absolute;
    width: 350px;
    height: 80px;
    top: 10px;
    left: 1130px;
    border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  background: #79A3B1;
  border-radius: 20px;
}

.button9:hover {
    background-color: #C4C4C4;
    color: #352E5B;
}

.button10:hover {
    background-color: #C4C4C4;
    color: #352E5B;  
}
  
.button11:hover {
    background-color: #C4C4C4;
    color: #352E5B;
}
  
.button12:hover {
    background-color: #C4C4C4;
    color: #352E5B;
}
